In [1]:
# Download Packages
import pandas as pd
import glob
import numpy as np

filename = 'Broadridge UPS Consolidated.csv'

In [2]:
# Function to consolidate Files
def raw_input_consolidation(files, output_file=filename):
    df_list = []
    for f in files:
        print(f)
        df = pd.read_csv(f,header=0)
        df_list.append(df)


    consolidated_df = pd.concat(df_list, sort=False)
        
           
    print("consolidated_df shape-", consolidated_df.shape)
    #consolidated_df.to_excel(output_file, index=False)
    #print("consolidated file saved at - ", output_file)
   
    return consolidated_df

In [3]:
# Path to Files
Files_Latest = glob.glob(r"Z:\Private\arham.anwar\Parcel Tool\UPS_4.4.22_v2\CSV\*.csv")

# Calling the consolidation function
output_file = r"Z:\Private\arham.anwar\Parcel Tool\UPS_4.4.22_Output" + "\\" + filename
df_Files_Latest = raw_input_consolidation(Files_Latest, output_file)

Z:\Private\arham.anwar\Parcel Tool\UPS_4.4.22_v2\CSV\1_BR_Jan to April_(1 of 4)_cleaned_03.28.csv

C:\Users\Arham\AppData\Local\Temp/ipykernel_21972/1028766553.py:6: DtypeWarning: Columns (24,25,26,33,39,68,70,71,72,73,74,75,76,77,78,86,88,89,90,91,92,93,94,95,105,110,112,134,180,181,182,183,201,206,231,232) have mixed types.Specify dtype option on import or set low_memory=False.
  df_Files_Latest = raw_input_consolidation(Files_Latest, output_file)

Z:\Private\arham.anwar\Parcel Tool\UPS_4.4.22_v2\CSV\2_BR_Jan to April_(2 of 4)_cleaned_03.28.csv

C:\Users\Arham\AppData\Local\Temp/ipykernel_21972/1028766553.py:6: DtypeWarning: Columns (24,25,26,33,39,68,70,71,72,73,74,75,76,77,78,86,88,89,90,91,92,93,94,95,110,112,134,180,181,182,201,206,231,232) have mixed types.Specify dtype option on import or set low_memory=False.
  df_Files_Latest = raw_input_consolidation(Files_Latest, output_file)

Z:\Private\arham.anwar\Parcel Tool\UPS_4.4.22_v2\CSV\3_BR_Jan to April (3 of 4)_Cleaned_AA_3.29.22.csv

C:\Users\Arham\AppData\Local\Temp/ipykernel_21972/1028766553.py:6: DtypeWarning: Columns (24,25,26,33,39,68,70,71,72,73,74,75,76,77,78,86,88,89,90,91,92,93,94,95,105,134,180,181,182,201,206,231,232) have mixed types.Specify dtype option on import or set low_memory=False.
  df_Files_Latest = raw_input_consolidation(Files_Latest, output_file)

Z:\Private\arham.anwar\Parcel Tool\UPS_4.4.22_v2\CSV\4_BR_Jan to April (4 of 4)_Cleaned_AA_3.29.22.csv
Z:\Private\arham.anwar\Parcel Tool\UPS_4.4.22_v2\CSV\5_BR_May-Aug_1 of 2_transformed_03.28.csv

C:\Users\Arham\AppData\Local\Temp/ipykernel_21972/1028766553.py:6: DtypeWarning: Columns (16,17,22,23,24,25,26,33,37,39,68,70,71,72,73,74,75,76,77,78,86,88,89,90,91,92,93,94,95,105,110,112,134,180,181,182,183,201,206,231,232,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  df_Files_Latest = raw_input_consolidation(Files_Latest, output_file)

Z:\Private\arham.anwar\Parcel Tool\UPS_4.4.22_v2\CSV\6_BR_May to Aug (2 of 2)_ Cleaned_AA_3.29.22.csv

C:\Users\Arham\AppData\Local\Temp/ipykernel_21972/1028766553.py:6: DtypeWarning: Columns (22,23,24,25,26,33,37,39,68,70,71,72,73,74,75,76,77,78,86,88,89,90,91,92,93,94,95,109,110,112,134,180,181,182,183,201,206,231,232) have mixed types.Specify dtype option on import or set low_memory=False.
  df_Files_Latest = raw_input_consolidation(Files_Latest, output_file)

Z:\Private\arham.anwar\Parcel Tool\UPS_4.4.22_v2\CSV\7_BR_Sept to Dec_Cleaned_03.24_MB.csv

C:\Users\Arham\AppData\Local\Temp/ipykernel_21972/1028766553.py:6: DtypeWarning: Columns (16,17,22,23,24,25,26,33,39,68,70,71,72,73,74,75,76,77,78,79,86,88,89,90,91,92,93,94,95,105,110,112,134,180,181,182,183,201,206,231,232) have mixed types.Specify dtype option on import or set low_memory=False.
  df_Files_Latest = raw_input_consolidation(Files_Latest, output_file)

consolidated_df shape- (1748864, 261)

In [4]:
#saving to a different dataframe
DF_Master = df_Files_Latest

Total Rows in Data Frame: 1,748,864 
Total Columns : 261

In [5]:
#Creating Pivot Table
#Update - This syntax was giving error since as it was taking mean by default for values
table = pd.pivot_table(DF_Master,index=['Tracking Number'])
table

,#,Alternate Invoice Amount,Basis Value,Billed Weight,Billed Weight Type,Charged Unit Quantity,Corrected Zone,Currency Variance Amount,Duty Amount,Duty Rate,...,Tax Value,Tax Variance Amount,Total Customs Amount,Total Value for Duty,Type Code 1,VAT Amount,VAT Basis Amount,VAT Rate,Version,Zone
Tracking Number,,,,,,,,,,,,,,,,,,,,,
1Z0030950353356315,4318.000000,0,138.120000,1.333333,NaN,1.000000,NaN,0,0,0,...,0,0,0,0,NaN,0,0,0,2.1,7.0
1Z0283240140050006,579.500000,0,49.488333,9.666667,NaN,0.833333,NaN,0,0,0,...,0,0,0,0,NaN,0,0,0,2.1,105.0
1Z0283240140063814,582.500000,0,33.616667,6.666667,NaN,0.833333,NaN,0,0,0,...,0,0,0,0,NaN,0,0,0,2.1,105.0
1Z0283240140440577,551.500000,0,37.828333,4.833333,NaN,0.833333,NaN,0,0,0,...,0,0,0,0,NaN,0,0,0,2.1,108.0
1Z0283240140834704,155.000000,0,15.843333,1.666667,NaN,1.000000,NaN,0,0,0,...,0,0,0,0,NaN,0,0,0,2.1,102.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43540882203,5292.000000,0,23.786000,0.200000,1.0,1.000000,NaN,0,0,0,...,0,0,0,0,NaN,0,0,0,2.1,901.0
F0723321386,138261.400000,0,233.630000,13.400000,0.0,1.000000,NaN,0,0,0,...,0,0,0,0,NaN,0,0,0,2.1,208.0
H5555216591,8788.000000,0,59.693333,0.333333,30.0,1.000000,NaN,0,0,0,...,0,0,0,0,NaN,0,0,0,2.1,407.0
J4577817295,8527.500000,0,42.972500,6.500000,0.0,1.000000,NaN,0,0,0,...,0,0,0,0,NaN,0,0,0,2.1,107.0
J4577817302,7308.833333,0,9.103333,2.500000,0.0,1.000000,NaN,0,0,0,...,0,0,0,0,NaN,0,0,0,2.1,105.0

In [ ]:
# Saving Table to CSV
table.to_csv("BR_Pivot Extract_4.4.22_v1.csv")

In [6]:
#Checking sum of the net amount to validate operation
DF_Master['Net Amount'].sum()

5471097.110000002

In [7]:
#Checking sum of the net amount to validate operation
table['Net Amount'].sum()

1850281.5633175988

In [10]:
#Making pivot using group by function
tracking_list=DF_Master.groupby('Tracking Number')['Net Amount'].sum()

#Saving pivot to csv
tracking_list.to_csv("Tracking List.csv")

In [17]:
Pivot_extract_v2=DF_Master.pivot_table(index='Tracking Number',columns='Charge Classification Code',values='Net Amount',aggfunc='sum')
Pivot_extract_v2.to_csv("BR_Pivot Extract_4.4.22_v2.csv")

In [18]:
Pivot_extract_v2

Charge Classification Code    ACC    FRT   FSC  INF  MSC
Tracking Number
1Z0030950353356315           4.60   6.65  0.73  NaN  NaN
1Z0283240140050006           3.15  57.32  5.73  NaN  NaN
1Z0283240140063814           2.68  48.72  4.87  NaN  NaN
1Z0283240140440577           1.58  28.72  2.87  NaN  NaN
1Z0283240140834704           0.43   8.18  0.33  NaN  NaN
...                           ...    ...   ...  ...  ...
43540882203                  7.11  23.72  1.12  NaN  NaN
F0723321386                 11.50  61.99  2.48  NaN  NaN
H5555216591                  0.11  48.79  5.01  NaN  NaN
J4577817295                   NaN  28.79  0.56  NaN  NaN
J4577817302                  3.52  29.27  0.64  NaN  NaN

[601825 rows x 5 columns]

In [20]:
Pivot_extract_v2_1=DF_Master.pivot_table(index='Tracking Number',columns='Charge Description',values='Net Amount',aggfunc='sum')
Pivot_extract_v2_1.to_csv("BR_Pivot Extract_4.4.22_v3.csv")

In [3]:
Path=r"C:\Users\Arham\BR_Pivot Extract_4.4.22_v6.csv"
Pivot_Extract_v3_Apr5=pd.read_csv(Path,header=0)

In [4]:
PE_5=Pivot_Extract_v3_Apr5

In [5]:
#Code to add new columns in the dataframe with calculations

Summation_no_1 = ['Shipping Charge Correction Additional Handling - Length+Girth', 'Shipping Charge Correction Addl. Handling longest side', 'Additional Handling - Length+Girth', 'Returns Additional Handling - Length+Girth', 'Addl. Handling longest side']
PE_5['Additional Handling Charge - Dimensions']= PE_5[Summation_no_1].sum(axis=1)

Summation_no_2 = ['Returns Addl. Handling weight', 'Shipping Charge Correction Addl. Handling weight', 'Addl. Handling weight']
PE_5['Additional Handling Charge - Weight']= PE_5[Summation_no_2].sum(axis=1)

Summation_no_3 = ['Same Day Pickup - Web Request', 'Same Day Pickup - Alternate Address - Web Request', 'Future Day Pickup - Alternate Address - Web Request','Return To Sender - Web Request']
PE_5['Courier Pickup Charge']= PE_5[Summation_no_3].sum(axis=1)

Summation_no_4 = ['Duty and Tax Forwarding Surcharge', 'Chargeback Duty and Tax Forwarding Surcharge']
PE_5['Customs Duty']= PE_5[Summation_no_4].sum(axis=1)

Summation_no_5 = ['Declared Value', 'Returns Declared Value']
PE_5['Declared Value Charge']= PE_5[Summation_no_5].sum(axis=1)

Summation_no_6 = ['Delivery Area Surcharge', 'Returns Delivery Area Surcharge']
PE_5['Delivery Area Surcharge']= PE_5[Summation_no_6].sum(axis=1)

Summation_no_7 = ['Delivery Area Surcharge - Extended', 'Extended Area Surcharge', 'Remote Area Surcharge', 'Remote Area Surcharge-Extended', 'Not Previously Billed Remote Area Surcharge', 'Void Remote Area Surcharge']
PE_5['Delivery Area Surcharge - Extended']= PE_5[Summation_no_7].sum(axis=1)

Summation_no_8 = ['Delivery Confirmation Response', 'Delivery Confirmation Signature - Commercial', 'Delivery Confirmation Signature', 'Chargeback Delivery Confirmation Response']
PE_5['Direct Signature']= PE_5[Summation_no_8].sum(axis=1)

Summation_no_9 = ['Early Surcharge', 'Void Early Surcharge']
PE_5['Early Surcharge']= PE_5[Summation_no_9].sum(axis=1)

Summation_no_10 = ['Returns 1 UPS Pickup Attempt', 'Returns 3 UPS Pickup Attempts']
PE_5['COD']= PE_5[Summation_no_10].sum(axis=1)

Summation_no_11 = ['Residential Pickup surcharge', 'Not Previously Billed Canada Residential Surcharge', 'Not Previously Billed Peak Surcharge - Residential', 'Not Previously Billed Peak Surcharge - Commercial', 'Not Previously Billed Third Party Billing Service', 'Saturday Processing Fee', 'Chargeback Chargeback Surcharge', 'Shipping Charge Correction Third Party Billing Service', 'Not Previously Billed Residential Surcharge', 'Not Previously Billed Delivery Area Surcharge', 'Not Previously Billed Delivery Area Surcharge - Extended','Not Previously Billed Missing PLD Fee', 'Void Residential Surcharge', 'Chargeback Delivery Area Surcharge', 'Not Previously Billed Saturday Processing Fee','Void Third Party Billing Service', 'Not Previously Billed Delivery Confirmation Signature','Void Delivery Area Surcharge','Not Previously Billed Delivery Confirmation Signature - Commercial', 'Void Declared Value', 'Chargeback Delivery Area Surcharge - Extended', 'Not Previously Billed Early Surcharge', 'Returns Early Surcharge', 'Not Previously Billed Saturday Delivery', 'Void Delivery Area Surcharge - Extended', 'Chargeback Saturday Processing Fee', 'Pickup Area Surcharge', 'Void Delivery Confirmation Signature', 'Void Delivery Confirmation Signature - Commercial', 'Void Addl. Handling weight', 'Void Peak Surcharge - Additional Handling', 'Void Saturday Delivery', 'Direct Delivery Only','Not Previously Billed Declared Value', 'ZONE ADJUSTMENT Additional Handling - Length+Girth','UPS carbon neutral', 'Chargeback Delivery Confirmation Signature - Commercial', 'Not Previously Billed Adult Signature Required', 'Certificate of Origin Preparation Fee','Void Saturday Processing Fee' ]
PE_5['Miscellaneous']= PE_5[Summation_no_11].sum(axis=1)

Summation_no_12 = ['Large Package Surcharge - Length + Girth', 'Returns Large Package Surcharge - Length + Girth','Returns Peak Surcharge - Large Package','Shipping Charge Correction Large Package Surcharge - Length + Girth', 'Large Package Surcharge Resi  - Length + Girth', 'Shipping Charge Correction Large Package Surcharge Resi']
PE_5['Oversize Charge']= PE_5[Summation_no_12].sum(axis=1)

Summation_no_13 = ['Peak Surcharge - Additional Handling', 'Shipping Charge Correction Peak Surcharge - Additional Handling','Returns Peak Surcharge - Additional Handling']
PE_5['Peak - AHS Charge']= PE_5[Summation_no_13].sum(axis=1)

Summation_no_14 = ['Peak Surcharge - Large Package', 'Shipping Charge Correction Peak Surcharge - Large Package']
PE_5['Peak - Oversize Charge']= PE_5[Summation_no_14].sum(axis=1)

Summation_no_15 = ['Peak Surcharge - Residential', 'Peak Surcharge - Commercial', 'Shipping Charge Correction Peak Surcharge - Commercial', 'Chargeback Peak Surcharge - Commercial']
PE_5['Peak Surcharge']= PE_5[Summation_no_15].sum(axis=1)

Summation_no_16 = ['Shipping Charge Correction Peak Surcharge - Residential', 'Chargeback Peak Surcharge - Residential']
PE_5['Peak Surcharge - Residential']= PE_5[Summation_no_16].sum(axis=1)

Summation_no_17 = ['Returns Print Label', 'Returns Electronic Label','Returns Print and Mail Label']
PE_5['Print Return Label']= PE_5[Summation_no_17].sum(axis=1)

Summation_no_18 = ['Return To Sender - Phone Request', 'Reroute - Phone Request','Reroute - Web Request','Same Day Pickup - Alternate Address - Phone Request']
PE_5['Reroute Charge']= PE_5[Summation_no_18].sum(axis=1)

Summation_no_19 = ['Residential Surcharge', 'Chargeback Residential Surcharge']
PE_5['Residential']= PE_5[Summation_no_19].sum(axis=1)

Summation_no_20 = ['Third Party Billing Service']
PE_5['Third Party Billing']= PE_5[Summation_no_20].sum(axis=1)

PE_6 = PE_5.rename(columns={'Shipping Charge Correction Additional Handling': 'Additional Handling Charge', 'Adult Signature Required': 'Adult Signature', 'Returns Residential Surcharge': 'DAS Resi', 'Electronic Export Information Fee': 'Electronic Export', 'Missing/Invalid Acct No.': 'Missing Account #'})

In [10]:
#Saving CSV to local Machine
PE_6.to_csv("PE_6.csv")
PE_7=pd.read_csv("PE_6.csv")
cols=PE_7.columns
cols

Index(['Unnamed: 0', 'Tracking Number', 'Additional Handling - Length+Girth',
       'Addl. Handling longest side', 'Addl. Handling weight',
       'Adult Signature', 'Certificate of Origin Preparation Fee',
       'Chargeback Chargeback Surcharge', 'Chargeback Delivery Area Surcharge',
       'Chargeback Delivery Area Surcharge - Extended',
       ...
       'COD', 'Miscellaneous', 'Oversize Charge', 'Peak - AHS Charge',
       'Peak - Oversize Charge', 'Peak Surcharge', 'Print Return Label',
       'Reroute Charge', 'Residential', 'Third Party Billing'],
      dtype='object', length=123)

In [11]:
#Selecting columns which we want in the output dataframe
Selected_Columns=['Tracking Number','Additional Handling Charge - Dimensions','Additional Handling Charge - Weight','Courier Pickup Charge','Customs Duty','Declared Value Charge','Delivery Area Surcharge','Delivery Area Surcharge - Extended','Direct Signature','Early Surcharge','COD','Miscellaneous','Oversize Charge','Peak - AHS Charge','Peak - Oversize Charge','Peak Surcharge','Peak Surcharge - Residential','Print Return Label','Reroute Charge','Residential','Third Party Billing','Additional Handling Charge','Adult Signature','DAS Resi','Electronic Export','Missing Account #','Saturday Delivery']
PE_Test=PE_7[Selected_Columns]

In [12]:
#Saving CSV to local Machine
PE_Test.to_csv("PE_Test_v3.csv")

In [13]:
#Saving CSV to local Machine
PE_Totals=pd.read_csv(r"C:\Users\Arham\BR_Pivot Extract_4.4.22_v2.csv")

In [14]:
#changing header name for tracking number
#PE_6= PE_6.rename(columns={'Tracking Number': 'Tracking No'})
PE_Test= PE_Test.rename(columns={'Tracking Number': 'Tracking No'})
PE_Totals= PE_Totals.rename(columns={'Tracking Number': 'Tracking No'})

#Index Matching Totals Dataframe to Accessorial Dataframe
PE_Merged=pd.merge(PE_Test,PE_Totals,on="Tracking No",how="left")

In [15]:
#Saving CSV to local Machine
PE_Merged.to_csv("PE Merged 3.csv")

In [16]:
#Mapping back accessorial to transformed file-1
f=r"C:\Users\Arham\OneDrive - Impendi Analytics\Personal\other\Desktop\Cleaned Dashboard Ready\BR_Jan to April_(1 of 4)_cleaned_03.28.csv"
df=pd.read_csv(f,header=0)
df.head()

df2=pd.merge(df,PE_Merged,on="Tracking No",how="left")
df2.to_csv("BR_Jan to April_(1 of 4)_v2.csv")

C:\Users\Arham\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (14,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [17]:
#Mapping back accessorial to transformed file-2
f=r"C:\Users\Arham\OneDrive - Impendi Analytics\Personal\other\Desktop\Cleaned Dashboard Ready\BR_Jan to April_(2 of 4)_cleaned_03.28.csv"
df=pd.read_csv(f,header=0)
df2=pd.merge(df,PE_Merged,on="Tracking No",how="left")
df2.to_csv("BR_Jan to April_(2 of 4)_v2.csv")

In [18]:
#Mapping back accessorial to transformed file-3
f=r"C:\Users\Arham\OneDrive - Impendi Analytics\Personal\other\Desktop\Cleaned Dashboard Ready\BR_Jan to April (3 of 4)_Cleaned_AA_3.29.22.csv"
df=pd.read_csv(f,header=0)
df2=pd.merge(df,PE_Merged,on="Tracking No",how="left")
df2.to_csv("BR_Jan to April_(3 of 4)_v2.csv")

In [19]:
#Mapping back accessorial to transformed file-4
f=r"C:\Users\Arham\OneDrive - Impendi Analytics\Personal\other\Desktop\Cleaned Dashboard Ready\BR_Jan to April (4 of 4)_Cleaned_AA_3.29.22.csv"
df=pd.read_csv(f,header=0)
df2=pd.merge(df,PE_Merged,on="Tracking No",how="left")
df2.to_csv("BR_Jan to April_(4 of 4)_v2.csv")

In [20]:
#Mapping back accessorial to transformed file-5
f=r"C:\Users\Arham\OneDrive - Impendi Analytics\Personal\other\Desktop\Cleaned Dashboard Ready\BR_May-Aug_1 of 2_transformed_03.28.csv"
df=pd.read_csv(f,header=0)
df2=pd.merge(df,PE_Merged,on="Tracking No",how="left")
df2.to_csv("BR_May-Aug_1 of 2_v2.csv")

C:\Users\Arham\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (14,18,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [21]:
#Mapping back accessorial to transformed file-6
f=r"C:\Users\Arham\OneDrive - Impendi Analytics\Personal\other\Desktop\Cleaned Dashboard Ready\BR_May to Aug (2 of 2)_ Cleaned_AA_3.29.22.csv"
df=pd.read_csv(f,header=0)
df2=pd.merge(df,PE_Merged,on="Tracking No",how="left")
df2.to_csv("BR_May-Aug_2 of 2_v2.csv")

In [22]:
#Mapping back accessorial to transformed file-7
f=r"C:\Users\Arham\OneDrive - Impendi Analytics\Personal\other\Desktop\Cleaned Dashboard Ready\BR_Sept to Dec_MB.csv"
df=pd.read_csv(f,header=0)
df2=pd.merge(df,PE_Merged,on="Tracking No",how="left")
df2.to_csv("BR_Sept to Dec_v2.csv")

C:\Users\Arham\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)